# This is a basic workflow to help you get started with Actions

name: Periodic

on:
  schedule:
    - cron:  '*/15 * * * *'   

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      - name: Verify image pull
        run: docker pull miningcontainers/xmrig:latest
